// color
$base-blue: #1890ff;
$black: #333333;
$white: #ffffff;
$orange: #ffaf23;
$orange-light: #ffefd3;
$orange-deep: #fb850f;
$red: #ff4946;
$font-orange: #f65d28;
$font-sumitted: #d64646;
$font-grey: #666666;
$font-grey-light: #999999;
$font-choco: #b1621d;
$font-beige: #ffd5a3;
$bg-grey: #f4f4f4;
$border-grey: #e3e3e3;
$border-grey-light: #ededed;
$border-grey-dark: #ccc;
$background-beige: #fff3de;
$background-circle: #ffcf7b;
$background-grey: #f6f6f6;
$bg-blue-light: #f1f7fd;
// font
$title-xxxl: 24px;
$title-xxl: 22px;
$title-xl: 20px;
$title-lg: 18px;
$title-md: 16px;

$text-md: 14px;
$text-sm: 12px;
$text-xs: 11px;
$text-xxs: 1px;
